* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar content';
}

.header {
    position: relative;
    grid-area: header;
    background-color: white;
    padding: 1.5rem 3rem;
    z-index: 3;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}

.top {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-bottom: 2.5rem
}

.sidebar {
    background-color: rgb(93, 204, 93);
    grid-area: sidebar;
    padding: 30px;
}

.options {
    display: grid;
    gap: 1.5rem;
}

.sidebar ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar ul li p {
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 0 5px white;
}

.secondary-options {
    padding-top: 40%;
    display: grid;
    gap: 1.5rem;
}

.sidebar ul li img {
    height: 2rem;
    cursor: pointer;
}

.main {
    background-color: rgba(238, 234, 234, 0.808);
    display: grid;
    grid-area: content;
    padding: 1vw;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1fr;
    gap: 2vw;
    grid-template-areas:
        'character-box friends'
        'pet-box trending';
    overflow: auto;
    padding-top: 3vw;
}

#character {
    grid-area: character-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#char {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-left: 0.5vw solid black;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);


}

#char img {
    width: 15vw;
    height: 20vw;

}

.pet-boxes {
    grid-area: pet-box;
    display: grid;
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw;
    column-gap: 10vw;
    row-gap: 2vw;
    padding: 4vw;

}

#char p {
    text-align: center;
}

.pet-boxes p {
    text-align: center;
}

.pet-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    border-left: 0.5vw solid black;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}

.pet-box img {
    width: 10vw;
    height: 10vw;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.health-bar {
    border-radius: 10px;
    background-color: lightgreen;
    margin: 1vw;
    width: 15vw;
}

.mana-bar {
    border-radius: 10px;
    background-color: lightblue;
}

.friends {
    grid-area: friends;
}

.friend-stats {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
} 

.friend {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.stats {
    display: flex;
}

.friend-stats .picture {
    background: url(pics/cat.png) center center / cover no-repeat;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.top .picture {
    background: url(pics/char-icon.png) center center / cover no-repeat;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

#friends {
    list-style: none;
    background-color: white;
    padding: 2vw;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#friends li:not(:last-child) {
    padding-bottom: 50px;
}

.online-indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #0fcc45;
    border-radius: 50%;
    position: relative;
}

.online-indicator span.blink {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #0fcc45;
    opacity: 0.7;
    border-radius: 50%;
    position: relative;
    animation: blink 2s linear infinite;
}

.offline-indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: rgb(211, 46, 46);
    border-radius: 50%;
    position: relative;
}

.offline-indicator span.blink {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: rgb(211, 46, 46);
    opacity: 0.7;
    border-radius: 50%;
    position: relative;
    animation: blink 2s linear infinite;
}

.topic {
    grid-area: trending;
}

#topic {
    background-color: white;
    padding: 4vw;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.announcement+.announcement {
    border-top: rgb(150, 141, 141) 1px solid;
}

@keyframes blink {
    100% {
        transform: scale(2, 2);
        opacity: 0;
        ;
    }
}