* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'sidebar header'
        'sidebar content';
}

.header {
    position: relative;
    grid-area: header;
    background-color: white;
    padding: 1.5rem 3rem;
    z-index: 3;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}

.top {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-bottom: 2.5rem
}

.sidebar {
    background-color: rgb(93, 204, 93);
    grid-area: sidebar;
    padding: 30px;
}

.options {
    display: grid;
    gap:1.5rem;
}

.sidebar ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar ul li p {
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 0 5px white;
}

.secondary-options {
    padding-top: 40%;
    display: grid;
    gap: 1.5rem;
}

.sidebar ul li img {
    height: 2rem;
    cursor: pointer;
}

.main {
    display: grid;
    grid-area: content;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1fr;
    gap: 2rem;
    grid-template-areas: 
        'character-box friends'
        'pet-box trending';
    overflow: auto;
}

#character {
    grid-area: character-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#char {
    justify-content: center;
    text-align: center;
    align-items: center;
}

#char img {
    width: 15vw;
    height: 20vw;
    
}

.pet-boxes {
    grid-area: pet-box;
    display: grid;
    grid-template-columns: 25vw 25vw;
    grid-template-rows: 25vw;
    column-gap: 15vw;
    row-gap: 2vw;
}

#char p {
    text-align: center;
}

.pet-boxes p {
    text-align: center;
}

.pet-box {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pet-box img {
    width: 10vw;
    height: 10vw;
}

.friends {
    grid-area: friends;
}

#friends {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.topic {
    grid-area: trending;
}

#topic {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}




