  @import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Sacramento&family=Sedgwick+Ave&family=Solitreo&family=Spectral:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar content';
}

ul {
    list-style: none;
}
.header {
    position: relative;
    grid-area: header;
    background-color: #D1BE9D;
    padding: 1.5rem 3rem;
    z-index: 3;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}

.header .top .picture {
    background: url(pics/char-icon.png) center center / cover no-repeat;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.header .top h2 {
    font-family: 'Lora', serif;
    font-size: medium;
    font-style: italic;
}

.header .top {
    display: flex;
    grid-template-columns: 1fr max-content;
    margin-bottom: 2.5rem;
    gap: 1vw;
    align-items: center;
    cursor: pointer;
}

.search #search {
    display: inline-block;
    border: 0;
    background-color: white;
    padding: 1vw;
    margin-left: 3vw;
    border-radius: 40px;
    width: 40vw
}


.sidebar {
    background-color: rgb(93, 204, 93);
    grid-area: sidebar;
    padding: 30px;
    font-family: 'Sedgwick Ave', cursive;
}

.sidebar .options {
    display: grid;
    gap: 1.5rem;
}

.option h1 {
    font-family: 'Spectral', serif;
    font-weight:300;
    font-style: italic;
}

.sidebar ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar ul li p {
    cursor: pointer;
    font-weight: 300;
    text-shadow: 0 0 5px rgb(192, 180, 180);
}

.sidebar .secondary-options {
    padding-top: 40%;
    display: grid;
    gap: 1.5rem;
}

.sidebar ul li img {
    height: 2rem;
    cursor: pointer;
}

.main {
    background-color: #D5C8BD;
    display: grid;
    grid-area: content;
    padding: 1vw;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1fr;
    gap: 2vw;
    grid-template-areas:
        'character-box friends'
        'pet-box trending';
    overflow: auto;
    padding-top: 3vw;
}



.main #character {
    grid-area: character-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main h4 {
    font-family: 'Solitreo', cursive;
    padding: 10px; 
}

.main .topic h2 {
    font-family: 'Solitreo', cursive;
    text-align: center;
}

.main .friends h2 {
    font-family: 'Solitreo', cursive;
    text-align: center;
}

.main #character #char {
    display: flex;
    height: 30vw;
    width: 25vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-left: 0.5vw solid black;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);


}

#character #char img {
    width: 15vw;
    height: 20vw;

}

#char p {
    text-align: center;
}

.pet-boxes {
    grid-area: pet-box;
    display: grid;
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw;
    column-gap: 10vw;
    row-gap: 2vw;
    padding: 4vw;

}

.pet-boxes p {
    text-align: center;
}

.pet-boxes .pet-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    border-left: 0.5vw solid black;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}

.pet-box img {
    width: 10vw;
    height: 10vw;
}

.pet-box .status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.status .health-bar {
    border-radius: 10px;
    background-color: lightgreen;
    margin: 1vw;
    width: 15vw;
}

#char .status .mana-bar {
    border-radius: 10px;
    background-color: lightblue;
}

.friends {
    grid-area: friends;
}

.friends .friend-stats {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
} 

.friend-stats .friend {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.friend .stats {
    display: flex;
}

.friend-stats .picture {
    background: url(pics/cat.png) center center / cover no-repeat;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.friends #friends {
    list-style: none;
    background-color: white;
    padding: 2vw;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#friends li:not(:last-child) {
    padding-bottom: 50px;
}

.friend .stats .online-indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #0fcc45;
    border-radius: 50%;
    position: relative;
}

.friend .stats .online-indicator span.blink {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #0fcc45;
    opacity: 0.7;
    border-radius: 50%;
    position: relative;
    animation: blink 2s linear infinite;
}

.friend .stats .offline-indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: rgb(211, 46, 46);
    border-radius: 50%;
    position: relative;
}

.friend .stats .offline-indicator span.blink {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: rgb(211, 46, 46);
    opacity: 0.7;
    border-radius: 50%;
    position: relative;
    animation: blink 2s linear infinite;
}

.topic {
    grid-area: trending;
}

.topic #topic {
    background-color: white;
    padding: 1vw;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.announcement+.announcement {
    border-top: rgb(150, 141, 141) 1px solid;
}

.announcement {
    width: 10vw;
    padding: 1rem;
}

.announcement h5 {
    cursor: pointer;
    text-decoration:underline;
    text-align: center;
}

.announcement p {
    padding-top: 10px;
    text-align: justify;
}




@keyframes blink {
    100% {
        transform: scale(2, 2);
        opacity: 0;
        ;
    }
}